SMTP_HOST=smtp.easyname.com
SMTP_PORT=465
SMTP_FROM=you@yourdomain.com
SMTP_DOMAIN=yourdomain.com
SMTP_MAILDOMAIN=yourdomain.com
SMTP_AUTHENTICATION=login
SMTP_USER=57383mail17
SMTP_PASS=your_password_here
SMTP_TLS=on
SMTP_STARTTLS=off
SMTP_TLSCERTCHECK=on
